{% extends 'base.html.twig' %}

{% block title %}Category Index{% endblock %}

{% block body %}
    <h1>List of categories</h1>
    <a href="{{ path('category_add') }}" class="btn btn-secondary mb-3">+ Add</a>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>name</th>
                <th>option</th>
            </tr>
        </thead>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
