{% extends 'base.html.twig' %}

{% block title %}{{ actor.name }}{% endblock %}

{% block body %}
    <h2>{{ actor.name }}</h2>
    <strong>Programs :</strong>
    <ul>
        {% for program in actor.programs %}
            <li><a href="{{ path('program_show', {'id' : program.id}) }}">{{ program.title }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}